/*Marker clusters*/
.marker-cluster-pie g.arc{
  fill-opacity: 0.5;
}
.marker-cluster-pie-label {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

.marker {
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-width: 2px;
  border-radius:10px;
  margin-top: -10px;
  margin-left: -10px;
  border-style: solid;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  font-family: sans-serif;
}

@import "colors";

.category-1 {
  fill: @store-color-primary;
  stroke: @store-color-secondary;
  background: @store-color-primary;
  border-color: @store-color-secondary;
}

.category-2 { /* Vegetarian */
  fill: @vegetarian-color-primary;
  stroke: @vegetarian-color-secondary;
  background: @vegetarian-color-primary;
  border-color: @vegetarian-color-secondary;
}

.category-3 { /* Vegan */
  fill: @vegan-color-primary;
  stroke: @vegan-color-secondary;
  background: @vegan-color-primary;
  border-color: @vegan-color-secondary;
}

.category-4 { /* Veg-Friendly */
  fill: @vegfriendly-color-primary;
  stroke: @vegfriendly-color-secondary;
  background: @vegfriendly-color-primary;
  border-color: @vegfriendly-color-secondary;
}

.icon-2{
  content: "Vgn";
}
.icon-3{
  content: "Vge";
}
.icon-4{
  content: "VF";
}

.ext-logo {
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.happy-cow-logo {
  background-image: url("/resources/images/happy_cow@50x50.jpg");
}

.google-maps-logo {
  background-image: url("/resources/images/google_maps@50x50.png");
}

.here-logo {
  background-image: url("/resources/images/here@50x50.jpg");
}