
  @store-color-primary: #FF3;
  @store-color-secondary: #D80;
  @vegetarian-color-primary: #9DF;
  @vegetarian-color-secondary: #007;
  @vegan-color-primary: #BFB;
  @vegan-color-secondary: #070;
  @vegfriendly-color-primary: #F88;
  @vegfriendly-color-secondary: #800;